#branding-bar {
    position: relative !important;
}
#footer .tagline {
    left: 50%;
    position: absolute;
    margin: 0 -200px 0 0;
    transform: translateX(-50%);
    top: -55px;
}
body {
    font-family: "Lato", sans-serif;
}

body a {
    text-decoration: underline;
}

.iu-header-wrapper {
    background-color: rgba(0, 0, 0, 0.16);
}

.card
{
    border-radius: 1rem;
    border: 0;
    box-shadow: 0 8px 16px 0 rgba(91, 114, 183, 0.16);
    background-color: #ffffff;
}

header#main-header {
    position: relative;
    z-index: 1;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.16);
    background-color: #ffffff;
    margin-top: -1rem;
    padding-top: 1rem;
}
header#main-header a {
    text-decoration: none;
    color: #5b72b7;
}
header#main-header .nav-item {
    font-size: 1rem;
    margin: 0 1.25rem;
    font-weight: bold;
}
header#main-header a.get-started-button {
    color: #ffffff;
    background-image: linear-gradient(to right, #5b72b7, #302a6d);
}

#breadcrumbs
{
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
    font-size: 0.875rem;
    color: #7285a3;
    /* font-weight: bold; */
}
/* #breadcrumbs span.divider
{
    font-size: 2rem;
    line-height: 0.875rem;
    vertical-align: baseline;
} */
#breadcrumbs span:not(.divider)
{
    font-weight: bold;
}
#breadcrumbs a span:not(.divider)
{
    font-weight: normal;
    color: #7285a3;
}

.btn {
    border-radius: 100px;
}
h1,
h2,
h3 {
    font-family: "Rubik", sans-serif;
    font-weight: bold;
}

footer#main-footer {
    box-shadow: 0 -10px 18px 0 rgba(0, 0, 0, 0.08);
    background-color: #ffffff;
    padding: 3rem 0;
}
#main-footer strong{
    font-weight: bold;
    color: #5b72b7;
}
#main-footer .cadre-logo img
{
    width: 100%;
}
#main-footer .social-icons
{
    color: #302A6D;
    font-size: 2rem;;
}

section {
    background-color: #fafbff;
    padding: 4.5rem 0;
}
section h2 {
    text-align: center;
    font-size: 3rem;
    line-height: 3.5rem;
    color: #3c80eb;
    text-shadow: 0 8px 16px rgba(48, 42, 109, 0.24);
}
section h3 {
    font-size: 1.25rem;
    line-height: 1.625rem;
    font-weight: normal;
    text-align: center;
    color: #7285a3;
    margin-bottom: 2.5rem;
}

section.blue {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.16);
    background-image: linear-gradient(118deg, #3c80eb, #94d5e8);
}
section.blue h2 {
    color: #ffffff;
}
section.blue h3 {
    color: #e4e8f3;
}

/* 
######## ######## ##       ##        #######  ##      ## 
##       ##       ##       ##       ##     ## ##  ##  ## 
##       ##       ##       ##       ##     ## ##  ##  ## 
######   ######   ##       ##       ##     ## ##  ##  ## 
##       ##       ##       ##       ##     ## ##  ##  ## 
##       ##       ##       ##       ##     ## ##  ##  ## 
##       ######## ######## ########  #######   ###  ###   */

.people-pictures .person
{
    font-family: 'Rubik';
    font-size: .875rem;
    /* line-height: 2; */
    font-weight: bold;
    line-height: 1.2;
}
.people-pictures .person img
{
    /* max-width: 3rem; */
    width: 2rem;
}

.org-logo img
{
    position: relative;
    max-width: 100%;
    max-height: 100%;
}

.organization-logos .org-logo
{
    width: 30%;
    height: 2.5rem;
    padding-left: 2rem;
    position: relative;
    margin-bottom: 1rem;
}
.organization-logos .org-logo:first-child
{
    padding-left: 0;
}

.fellow.card
{
    max-width: 600px;
    border: 0;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 .5rem 2rem 0 rgba(13, 49, 181, 0.12);
    background-color: #ffffff;
    margin-bottom: 2rem;
}
.fellow .people-pictures, .fellow .organization-logos
{
    margin-bottom: 1rem;
}
.fellow.card h3
{
    text-align: left;
    font-size: 1rem;
    color: #455979;
    font-weight: 500;
    line-height: 1.25;
    margin-bottom: .5rem;
}

.fellow.card p
{
    font-size: .75rem;
    line-height: 1.25;
    color: #455979;
    
}
.fellow.card .summary a
{
    font-size: .75rem;
    line-height: 1.25;
    color: #3c80eb;
}
.fellow.card .summary p
{
    display: inline;
}

#fellow_carousel
{
    overflow: hidden;
    position: relative;
}

/* 
########  ######## ########    ###    ##     ## ##       ######## 
##     ## ##       ##         ## ##   ##     ## ##          ##    
##     ## ##       ##        ##   ##  ##     ## ##          ##    
##     ## ######   ######   ##     ## ##     ## ##          ##    
##     ## ##       ##       ######### ##     ## ##          ##    
##     ## ##       ##       ##     ## ##     ## ##          ##    
########  ######## ##       ##     ##  #######  ########    ##     */


.default-page
{
    padding-top: 3rem;
}
.default-page h2
{
    
    /* border-radius: 0 0 1rem 1rem; */
    /* padding: 3rem; */
    text-align: left;
    font-size: 2.5rem;
    margin: 0;
}