{% extends 'partials/base.html.twig' %}

{% block content %}

<section>
    <div class="container">
        <h2>{{page.title}}</h2>
        {{ page.content|raw }}
    </div>
</section>

{% endblock %}