{% extends 'default.html.twig' %}

{# {% block body %}
<section>
<div class="fellow container">

    <h2>CADRE Event</h2>
    
    <h3>
    {{page.title}}
    </h3>



    <div>
    {{page.content}}
    </div>

</div>

</section>

{% endblock %} #}